.body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  margin: 50px;
  margin-top: 100px;
  border-radius: 28px;
  box-shadow: 25px 25px 40px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #555;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #10182f;
  color: white;
  border: 1px solid #10182f;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: white;
  color: black;
}

button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .login-container {
    width: 400px;
  }
}
